<app-header></app-header>
<div class="registerMainGridDiv">
  <div class="registerGridDiv1">
    <img
      src="../../assets/photos/register cartoon 2.jpg"
      height="450rem"
      width="470rem"
      alt="img"
    />
  </div>
  <div class="registerGridDiv2">
    <form [formGroup]="formComplete" (submit)="submitForm()">
      <h2 id="registerFormHeading">Registration Form</h2>
      <div class="registerFormName">
        <input
          type="text"
          formControlName="namevalue"
          placeholder="Full Name"
        />
        <div class="spaceForClass"></div>
        <div *ngIf="formComplete.controls['namevalue'].dirty" class="alert">
          <p *ngIf="formComplete.controls['namevalue'].errors?.['required']">
            Fullname should not be empty
          </p>
          <p *ngIf="formComplete.controls['namevalue'].errors?.['pattern']">
            Fullname should contains only alphabets,<br />
            Consecutive character should less than three
          </p>
        </div>
      </div>

      <div class="registerFormPhone">
        <input
          type="tel"
          maxlength="10"
          required
          formControlName="mobilevalue"
          placeholder="Phone Number"
        />
        <div class="spaceForClass"></div>

        <div *ngIf="formComplete.controls['mobilevalue'].dirty" class="alert">
          <p *ngIf="formComplete.controls['mobilevalue'].errors?.['required']">
            Mobile number should not be empty
          </p>
          <p *ngIf="formComplete.controls['mobilevalue'].errors?.['pattern']">
            Enter a valid mobile number
          </p>
        </div>
      </div>

      <div class="registerFormEmail">
        <input
          type="email"
          formControlName="emailvalue"
          placeholder="Enter Email"
        />
        <div class="spaceForClass"></div>

        <div *ngIf="formComplete.controls['emailvalue'].dirty" class="alert">
          <p *ngIf="formComplete.controls['emailvalue'].errors?.['required']">
            Email should not be empty
          </p>
          <p *ngIf="formComplete.controls['emailvalue'].errors?.['pattern']">
            Enter a valid email
          </p>
        </div>
      </div>

      <div class="registerFormPassword">
        <input
          type="text"
          formControlName="passwordvalue"
          placeholder="Create Password"
        />
        <div class="spaceForClass"></div>

        <div *ngIf="formComplete.controls['passwordvalue'].dirty" class="alert">
          <p
            *ngIf="formComplete.controls['passwordvalue'].errors?.['required']"
          >
            Password should not be empty
          </p>
          <p *ngIf="formComplete.controls['passwordvalue'].errors?.['pattern']">
            Password must contains <br />1.Atleast one uppercase <br />2.Atleast
            one lowercase <br />3.Atleast one symbol <br />4.Atleast one number
            <br />5.Minimum length should be 8 <br />6.Maximum length should be
            12
          </p>
        </div>
      </div>

      <div class="registerFormConfirmPassword">
        <input
          type="text"
          required
          formControlName="confirmpasswordvalue"
          placeholder="Confirm Password"
        />
        <div class="spaceForClass"></div>

        <div
          *ngIf="formComplete.controls['confirmpasswordvalue'].dirty"
          class="alert"
        >
          <p
            *ngIf="formComplete.controls['confirmpasswordvalue'].errors?.['required']"
          >
            Confirm password should not be Empty
          </p>
          <p
            *ngIf="formComplete.controls['confirmpasswordvalue'].errors?.['confirmPasswordValidate']"
          >
            Confirm password Doesn't Match password
          </p>
        </div>
      </div>

      <div class="registerButtonDiv">
        <button
          id="registerButtonId"
          type="submit"
          [disabled]="!formComplete.valid"
        >
          <span id="registerButtonSpan"> Register</span>
        </button>
      </div>
    </form>
  </div>
  <div class="registerGridDiv3">
    <img
      src="../../assets/photos/Registeration cartoon.png"
      width="410rem"
      height="520rem"
      alt="img"
    />
  </div>
</div>
