<app-header></app-header> <br><br>
<div class="divPhotos">
  <div class="photo1">
    <img
      src="https://assets.gadgets360cdn.com/servicecenter/image/PLANETCARE_1611053788.jpeg?downsize=*:420&output-quality=80"
      alt=""
    />
  </div>
  <div class="photo2">
    <img
      src="https://assets.gadgets360cdn.com/servicecenter/image/PLANETCARE_1611053801.jpeg?downsize=*:420&output-quality=80"
      alt=""
    />
  </div>
  <div class="photo3">
    <img
      src="https://assets.gadgets360cdn.com/servicecenter/image/PLANETCARE_1611053796.jpeg?downsize=*:420&output-quality=80"
      alt=""
    />
  </div>
</div>
<div class="shopinfo">
  <h2>
    PLANETCARE <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
  </h2>
  <p id="rtng">5.0</p>
  <h3>Address:</h3>
  <p id="addressInfo">763,</p>
  <p id="addressInfo">Velachery Road,</p>
  <p id="addressInfo">Selaiyur Tambaram</p>
  <p id="addressInfo">Chennai - Tamil Nadu - 600073</p>
  <h3>Phone Number: <span id="phonenumber">08695966966</span></h3>
</div>
<div class="secondMainDiv">
  <div class="secondFirstDiv">
    <div class="contentMainDiv">
      <h3>Products</h3>
      <div class="overallDiv">
        <div class="firstDiv">
          <div class="minichargerFirstDiv">
            <img src="../../assets/photos/charger adapter.webp" alt="" />
          </div>

          <h2>Adapters</h2>
        </div>
        <div class="secondDiv">
          <div class="miniFirstDiv">
            <img src="../../assets/photos/headphone.webp" alt="" />
          </div>

          <h2>Headphones</h2>
        </div>
        <div class="thirdDiv">
          <div class="miniFirstDiv">
            <img src="../../assets/photos/tempered glass.webp" alt="" />
          </div>

          <h2>Tempered Glasses</h2>
        </div>
      </div>
    </div>
    <div class="quickinfoDiv">
      <h2>Informations</h2>
      <div class="quickinfoMainDiv">
        <div class="quickinfoMainDiv1">
          <h2>Prices</h2>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Adapters and Cables:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">1499</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Headphones:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">1799</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Tempered Glasses:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">499</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Software Updates:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">4499</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Screen Replacements:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">7199</i></p>


        </div>
        <div class="quickinfoMainDiv2">
          <h2>Timings</h2>
          <p><span id="daysId1">Monday-Saturday</span> 9.00 AM - 6.00 PM</p>
        </div>
      </div>
    </div>

    <div class="serviceInfo">
      <h2>Services</h2>
      <div class="serviceinfoMainDiv">
        <div class="serviceinfoDiv1">
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Repair services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Diagnostic services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i> Data
            recovery services
          </p>
        </div>
        <div class="serviceinfoDiv1">
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Unlocking services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Software updates
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Accessories
          </p>
        </div>
        <div class="serviceinfoDiv1">
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Trade-in services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Backup and restore services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Virus removal
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="secondSecondDiv">
    <h2>More Info</h2>
    <p id="moreinfoP1">GSTIN: 27ADOFS8771R1ZP</p>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-envelope"></i> Send Enquiry By Email</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-bell"></i> Get info via SMS/Email</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-share-from-square"></i> Share this</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-star"></i> Tap to Rate</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-solid fa-globe"></i> Visit our Website</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-brands fa-square-facebook"></i> Facebook</p></a>
    </div>
    <div class="reportErrorDiv">
      <h2>Report An Error</h2>
      <p>Help us to make JustFix more updated and more relavant for you.</p>
      <a href=""><p id="linkP">Report Now</p></a>
    </div>
  </div>


</div>
<div class="bottomMainDiv">
  <div class="bottomDiv1">
    <h2>Location</h2><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.768212295321!2d80.13636881250541!3d12.922613694595904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525ee1974bf079%3A0xe2034e84f0309904!2sPlanet%20Care!5e0!3m2!1sen!2sin!4v1680617261844!5m2!1sen!2sin" width="750" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="bottomDiv2">
    <h2>Help Us to Review</h2>
    <div class="innerreviewMainDiv">
      <div class="innerreviewDiv1">
        <input type="text" name="" id="reviewInput1" placeholder="Enter Username"> <br>
    <input type="text" placeholder="Enter Email" id="reviewInput1"> <br>
    <input type="text" placeholder="Enter PhoneNumber" id="reviewInput1"> <br>
      </div>
      <div class="innerreviewDiv2"><img src="../../assets/photos/Review Cartoon.png" alt=""></div>
    </div>

    <input type="text" placeholder="Comments..." id="reviewComment">

<button id="reviewButton">Submit</button>
  </div>
</div>
<div class="productandServiceDiv">
  <h2>About Us</h2>
  <p>PlanetCare is a trusted authorized mobile service center that provides customers with a range of high-quality products and services. One of the main offerings by the company is genuine parts and accessories for all major mobile phone brands. Customers can rely on PlanetCare to provide authentic products that are specifically designed for their devices, ensuring that they function optimally and reliably.</p>
<p>In addition to parts and accessories, PlanetCare provides a wide range of repair services for mobile phones. The company has a team of skilled and experienced technicians who can diagnose and fix issues such as broken screens, faulty batteries, charging problems, and software issues. The company uses state-of-the-art tools and equipment to ensure that repairs are completed quickly and effectively, minimizing downtime for customers.</p>
<p>Overall, PlanetCare is a reliable and trustworthy authorized mobile service center that offers customers a wide range of products and services. Whether customers need parts and accessories, repairs, insurance, or a refurbished device, they can count on PlanetCare to provide high-quality solutions that meet their needs.</p>
</div>
<div class="frequentQnDiv">
  <h2>Frequently Asked Questions</h2>
  <div class="qnswithAnswers">
    <h3>1. Whether mobile accessories are available here?</h3>
    <p>Yes.Branded mobile accessories are available here.</p>
  </div>
  <div class="qnswithAnswers">
    <h3>2. What are the various mode of payment accepted here?</h3>
    <p>You can make payment Via Cash,Visa Card,Debit Cards and Credit Cards</p>
  </div>
  <div class="qnswithAnswers">
    <h3>3. What are its hours of operation</h3>
    <p>The establishment is functional on <br>Monday:-9.00 AM - 6.00 PM<br>Tuesday:-9.00 AM - 6.00 PM <br>Wednesday:-9.00 AM - 6.00 PM <br>Thursday:-9.00 AM - 6.00 PM <br>
      Friday:-9.00 AM - 6.00 PM<i class="fas fa-pumpkin    "></i></p>
  </div>
  <div class="qnswithAnswers">
    <h3>4. Does warranty covers water Damage?</h3>
    <p>No.Warranty does not cover water damage.Please read Terms and condtions of the for warranty coverages.</p>
  </div>
  <div class="qnswithAnswers">
    <h3>5. What is the warranty period for Accessories?Does warranty period varies from accessories to accessories?</h3>
    <p>The warranty period for accessories are 6 Months from the date of purchase.No.warranty period is same for all accessories</p>
  </div>
</div> <br>
<app-footer></app-footer>
