<app-header></app-header>
 <br><br>
<div class="divPhotos">
  <div class="photo1">
    <img
      src="{{finalshopName.image1}}"
      alt=""
    />
  </div>
  <div class="photo2">
    <img
      src="{{finalshopName.image2}}"
      alt=""
    />
  </div>
  <div class="photo3">
    <img
      src="{{finalshopName.image3}}"
      alt=""
    />
  </div>
</div>
<div class="shopinfo">
  <h2>
    {{finalshopName.shopName}} <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
  </h2>
  <p id="rtng">{{finalshopName.rating}}</p>
  <h3>Address:</h3>
  <p id="addressInfo">{{finalshopName.address1}}</p>
  <p id="addressInfo">{{finalshopName.address2}}</p>
  <p id="addressInfo">{{finalshopName.address3}}</p>
  <p id="addressInfo">{{finalshopName.address4}}</p>
  <h3>Phone Number: <span id="phonenumber">{{finalshopName.phoneno}}</span></h3>
</div>
<div class="secondMainDiv">
  <div class="secondFirstDiv">
    <div class="contentMainDiv">
      <h3>Products</h3>
      <div class="overallDiv">
        <div class="firstDiv">
          <div class="minichargerFirstDiv">
            <img src="../../assets/photos/charger adapter.webp" alt="" />
          </div>

          <h2>Adapters</h2>
        </div>
        <div class="secondDiv">
          <div class="miniFirstDiv">
            <img src="../../assets/photos/headphone.webp" alt="" />
          </div>

          <h2>Headphones</h2>
        </div>
        <div class="thirdDiv">
          <div class="miniFirstDiv">
            <img src="../../assets/photos/tempered glass.webp" alt="" />
          </div>

          <h2>Tempered Glasses</h2>
        </div>
      </div>
    </div>
    <div class="quickinfoDiv">
      <h2>Informations</h2>
      <div class="quickinfoMainDiv">
        <div class="quickinfoMainDiv1">
          <h2>Prices</h2>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Adapters and Cables:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">{{finalshopName.price1}}</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Headphones:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">{{finalshopName.price2}}</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Tempered Glasses:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">{{finalshopName.price3}}</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Software Updates:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">{{finalshopName.price4}}</i></p>
          <p><span id="priceId"><i class="fa-solid fa-play" style="color: #6d9ad5;"></i> Screen Replacements:-</span>Starts from <i class="fa-solid fa-indian-rupee-sign">{{finalshopName.price5}}</i></p>


        </div>
        <div class="quickinfoMainDiv2">
          <h2>Timings</h2>
          <p><span id="daysId1">Monday-Saturday</span> 9.00 AM - 6.00 PM</p>
        </div>
      </div>
    </div>

    <div class="serviceInfo">
      <h2>Services</h2>
      <div class="serviceinfoMainDiv">
        <div class="serviceinfoDiv1">
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Repair services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Diagnostic services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i> Data
            recovery services
          </p>
        </div>
        <div class="serviceinfoDiv1">
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Unlocking services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Software updates
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Accessories
          </p>
        </div>
        <div class="serviceinfoDiv1">
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Trade-in services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Backup and restore services
          </p>
          <p>
            <i class="fa-solid fa-circle-check" style="color: #6d9ad5"></i>
            Virus removal
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="secondSecondDiv">
    <h2>More Info</h2>
    <p id="moreinfoP1">GSTIN: 27ADOFS8771R1ZP</p>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-envelope"></i> Send Enquiry By Email</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-bell"></i> Get info via SMS/Email</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-share-from-square"></i> Share this</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-regular fa-star"></i> Tap to Rate</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-solid fa-globe"></i> Visit our Website</p></a>
    </div>
    <div class="moreinfoDiv1">
      <a href=""><p><i class="fa-brands fa-square-facebook"></i> Facebook</p></a>
    </div>
    <div class="reportErrorDiv">
      <h2>Report An Error</h2>
      <p>Help us to make JustFix more updated and more relavant for you.</p>
      <a href=""><p id="linkP">Report Now</p></a>
    </div>
  </div>


</div>
<div class="bottomMainDiv">
  <div class="bottomDiv1">
    <h2>Location</h2><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.768212295321!2d80.13636881250541!3d12.922613694595904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525ee1974bf079%3A0xe2034e84f0309904!2sPlanet%20Care!5e0!3m2!1sen!2sin!4v1680617261844!5m2!1sen!2sin" width="750" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="bottomDiv2">
    <h2>Help Us to Review</h2>
    <div class="innerreviewMainDiv">
      <div class="innerreviewDiv1">
        <input type="text" name="" id="reviewInput1" placeholder="Enter Username"> <br>
    <input type="text" placeholder="Enter Email" id="reviewInput1"> <br>
    <input type="text" placeholder="Enter PhoneNumber" id="reviewInput1"> <br>
      </div>
      <div class="innerreviewDiv2"><img src="../../assets/photos/Review Cartoon.png" alt=""></div>
    </div>

    <input type="text" placeholder="Comments..." id="reviewComment">

<button id="reviewButton">Submit</button>
  </div>
</div>
<div class="productandServiceDiv">
  <h2>About Us</h2>
  <p>{{finalshopName.about1}}</p>
<p>{{finalshopName.about2}}</p>
<p>{{finalshopName.about3}}</p>
</div>
<div class="frequentQnDiv">
  <h2>Frequently Asked Questions</h2>
  <div class="qnswithAnswers">
    <h3>{{finalshopName.q1}}</h3>
    <p>{{finalshopName.q1ans}}</p>
  </div>
  <div class="qnswithAnswers">
    <h3>{{finalshopName.q2}}</h3>
    <p>{{finalshopName.q2ans}}</p>
  </div>
  <div class="qnswithAnswers">
    <h3>{{finalshopName.q3}}</h3>
    <p>{{finalshopName.q3ans}}</p>
  </div>
  <div class="qnswithAnswers">
    <h3>{{finalshopName.q4}}</h3>
    <p>{{finalshopName.q4ans}}</p>
  </div>
  <div class="qnswithAnswers">
    <h3>{{finalshopName.q5}}</h3>
    <p>{{finalshopName.q5ans}}</p>
  </div>
</div> <br>
<app-footer></app-footer>
