* {
  letter-spacing: 1px;

}
.divPhotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.photo1,
.photo2,
.photo3 {
  height: 20rem;
  width: 26rem;
  margin-left: 5px;
}

.photo1 img,
.photo2 img,
.photo3 img {
  height: 100%;
  width: 100%;
}
.shopinfo h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-top: 0.5rem;

  font-size: 1.6rem;
}

#rtng {
  margin-left: 5px;
  background-color: #97c82d;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 3px;
  padding: 8px 13px;
  font-weight: bold;
  border-radius: 5px;
  width: fit-content;
}

.shopinfo h3 {
  margin-left: 5px;
  margin-top: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;

}
#addressInfo {
  margin-left: 5px;
  margin-left: 3px;
}
#phonenumber {
  font-weight: 200;
  font-size: 1rem;
}
.shopinfo {
  padding: 5px 0px;
  padding-left: 3px;
  margin-left: 5px;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(217, 209, 209);
  font-family: Arial, Helvetica, sans-serif;

}
.secondFirstDiv,
.secondSecondDiv {
  border-bottom:1px solid rgb(217, 209, 209) ;
  border-top: 1px solid rgb(217, 209, 209);
  border-radius: 1rem;
}
.secondMainDiv {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 75% 25%;
}
.contentMainDiv h3 {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 1rem;
}
.overallDiv {
  margin-left: 15px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.firstDiv,
.secondDiv,
.thirdDiv {
  height: 10rem;
  width: 6rem;
}
.miniFirstDiv {
  height: 14rem;
  width: 12.5rem;
}
.minichargerFirstDiv {
  height: 14rem;
  width: 12.5rem;
}
.minichargerFirstDiv img {
  margin-top: 2rem;
  margin-left: 2rem;
  height: 70%;
  width: 80%;
}

.miniFirstDiv img {
  padding-top: 3px;
  height: 95%;
  width: 55%;
  margin-left: 2.5rem;
}
.minichargerFirstDiv,
.miniFirstDiv {
  border: 1px solid rgb(206, 198, 198);
  border-radius: 1rem;
}
.minisecondDiv {
  width: fit-content;
}
.firstDiv h2,
.secondDiv h2,
.thirdDiv h2 {

  font-family: Arial, Helvetica, sans-serif;

  font-size: 1rem;
  margin-left: 3.6rem;
}
.secondFirstDiv {
  border-right: 1px solid rgb(206, 198, 198);
}
.contentMainDiv {
  height: 21rem;
  border-bottom: 1px solid rgb(206, 198, 198);
}
.quickinfoMainDiv1 h2,
.quickinfoDiv h2,
.quickinfoDiv2 h2,
.serviceInfo h2,
.secondSecondDiv h2,
.reportErrorDiv h2{
  margin-left: 15px;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1.2rem;
}

.quickinfoDiv {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(206, 198, 198);
}
.quickinfoMainDiv1 h2 {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;

}
#priceId{
  font-weight: bold;
}
.quickinfoMainDiv1 p {
  margin-left: 15px;
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;

}
.quickinfoMainDiv {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.quickinfoDiv p {
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;

}
.quickinfoMainDiv2 p{
  transform: translateX(1rem);
}
#daysId1,
#daysId2 {
  font-weight: 700;
}
#daysId1 {
  padding-right: 2x;
}
#daysId2 {
  padding-right: 23px;
}
.serviceinfoMainDiv {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-bottom: 2rem;
}
.serviceinfoDiv1 p {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 12px;
}
.serviceinfoDiv1 i {
  margin-right: 7px;
}
.secondSecondDiv {
  border-left: 1px solid rgb(217, 209, 209);
  margin-left: 1rem;
}
.secondSecondDiv h2,.bottomDiv1 h2 {
  font-family: Arial, Helvetica, sans-serif;


  padding-left: 8px;
  padding-top: 3px;
}

#moreinfoP1
{  font-family: Arial, Helvetica, sans-serif;

  padding: 17px 5px 17px 8px;

font-size: 0.9rem;
border-bottom: 0.5px solid rgb(217, 209, 209);
}
.moreinfoDiv1 a{
  font-family: Arial, Helvetica, sans-serif;

  text-decoration: none;
  color: black;
}
.moreinfoDiv1{
  margin-top: 0.7rem;
  margin-left: 5px;


  border-bottom: 0.5px solid rgb(217, 209, 209) ;
}
.moreinfoDiv1 p{
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2rem;

  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-bottom: 0.7rem;

}
.moreinfoDiv1 i{
  transform: translateX(-18px);
}
.moreinfoDiv1 p:hover
{
background-color: rgb(237, 230, 230) ;
background-size: cover;
}

.reportErrorDiv
 p{
  margin-left: 4px;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 130%;

  font-size: 0.9rem;
 }
 .reportErrorDiv a{
  text-decoration: none;
 }
#linkP{
  /* text-decoration: none; */
  /* color: black; */
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 12px 20px;
  border:1px solid rgb(16, 127, 142);
  margin-left: 3rem;
  transform: translateY(2rem);
  text-align: center;
  font-size: 1.2rem;
  border-radius: 1.2rem;
}
#linkP:hover{
  transition: 1s;
background-color: rgb(237, 230, 230);
}
.bottomMainDiv
{
  display: grid;
  grid-template-columns: 60% 40%;

}
.bottomDiv1 h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-left: 15px;
}
.bottomDiv1{
  height: fit-content;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-top: 1px solid rgb(217, 209, 209);
  border-right: 1px solid rgb(217, 209, 209);
  border-bottom: 1px solid rgb(217, 209, 209);
  border-radius: 1rem;
}
.bottomDiv2 h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-left: 15px;

}
.bottomDiv2{
  height: fit-content;
  padding-bottom: 1rem;
  margin-left: 10px;
  margin-top: 1rem;
  border:1px solid rgb(217, 209, 209);
  border-radius: 1rem;
}
.innerreviewMainDiv{
  display: grid;
  grid-template-columns: 50% 50%;
}
#reviewInput1{
  margin-left: 3px;
  padding-right: 4.7rem;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;

  margin-top: 2rem;
}
.innerreviewDiv2{
  height: 15rem;
  width: 15rem;
}
.innerreviewDiv2 img{
  margin-top: 10px;
  height: 90%;
  width: 102%;
}
#reviewComment{
  margin-left: 3px;
  padding-right: 20rem;
  padding-top: 1rem;
  padding-bottom: 6rem;
}
#reviewButton
{
  font-family: Arial, Helvetica, sans-serif;
padding: 4px 8px;
border-radius: 0.5rem;
  margin-top: 2rem;
  background-color: yellowgreen;
  cursor: pointer;
  color: white;
  outline: none;
}
.bottomDiv2 button{
margin-left: 14rem;
}
.productandServiceDiv{
  margin-top: 1rem;
  border-top:1px solid rgb(217, 209, 209) ;
  padding-bottom: 5px;

}
.productandServiceDiv h2{
  padding-top: 5px;

  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.productandServiceDiv p{
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 130%;
  margin-top: 0.5rem;
}
.frequentQnDiv{
  margin-top: 1rem;
  border-top:1px solid rgb(217, 209, 209) ;
}
.frequentQnDiv h2,.frequentQnDiv h3{
  margin-left: 15px;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif
}
.frequentQnDiv h3{
  font-size: 1.1rem;
}
.frequentQnDiv p{
  margin-top: 2px;
  font-size: 0.9rem;
  margin-left: 2.4rem;
  font-family: Arial, Helvetica, sans-serif

}
