<app-header></app-header>

<br /><br />
<br />
<div class="loginMainGridDiv">
  <div class="loginGridDiv1">
    <img
      src="../../assets/photos/login cartoon 1.jpg"
      height="450rem"
      id="loginGridImage1"
      width="470rem"
      alt="img"
    />
  </div>

  <div class="loginGridDiv2">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginFill(userName.value, password.value)"
    >
      <p id="passwordError" *ngIf="hide">
        Invalid Username or Password
        <i class="fa-solid fa-1x fa-xmark" (click)="crossMark()"></i>
      </p>

      <h2 id="loginHeading">Login</h2>
      <div class="loginUserNameDiv">
        <input
          type="email"
          formControlName="emailvalue"
          #userName
          placeholder="Email"
        />

        <div *ngIf="loginForm.controls['emailvalue'].dirty" class="alert">
          <p *ngIf="loginForm.controls['emailvalue'].errors?.['required']">
            Email should not be empty
          </p>
        </div>
      </div>

      <div class="loginUserPasswordDiv">
        <input
          type="password"
          formControlName="passwordvalue"
          #password
          placeholder="Password"
        />
        <div *ngIf="loginForm.controls['passwordvalue'].dirty" class="alert">
          <p *ngIf="loginForm.controls['passwordvalue'].errors?.['required']">
            Password should not be empty
          </p>
        </div>
      </div>
      <div class="forgotPasswordDiv">
        <a href="#" id="forgotPasswordId1">Forgot Password?</a> <br />
        <a routerLink="/registration" id="forgotPasswordId1">New User?</a>
      </div>
      <div class="loginButtonDiv">
        <button type="submit" id="loginButtonId">
          <span id="loginButtonSpan"> Login</span>
        </button>
      </div>
    </form>
  </div>
  <div class="loginGridDiv3">
    <img
      src="../../assets/photos/login cartoon 2.jpg"
      width="435rem"
      id="loginGridImage2"
      height="300rem"
      alt="img"
    />
  </div>
</div>
<app-footer></app-footer>
