<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<div class="menu_bar">
  <img src="../../assets/photos/Just.png" alt="img" width="16%" height="70%" id="imge">

  <ul>
      <li> <a [routerLink]="'/home'"><i class="fa-solid fa-mobile-screen-button"></i> Home</a> </li>


      <li> <a [routerLink]="'/about'" >About</a> </li>
      <li> <a href="#">More<i class="fas fa-caret-down"></i></a>
          <div class="dropdown_menu">
              <ul>
                  <li><a [routerLink]="'/newoffers'">New Offers</a></li>
                  <li><a [routerLink]="'/upcoming'">Upcoming </a></li>
                  <li><a [routerLink]="'/contact'"><i class="fa-solid fa-phone"></i> Contact</a></li>

              </ul>
          </div>
      </li>
      <li> <a [routerLink]="'/login'" id="highlight">Login </a>
  </ul>
</div> -->
<app-header></app-header>

   <br><br> <br>
<div class="log-main-grid">
  <div class="log-main-grid-0">
      <img src="../../assets/photos/login cartoon 1.jpg" height="450rem" id="logcrtn2" width="470rem" alt="img">
  </div>

  <div class="main-log">
      <form  [formGroup]="loginForm"  (ngSubmit)="loginfill(usernames.value,passwords.value)" >
        <p id="passworderror" *ngIf="hide"  > Invalid Username or Password <i class="fa-solid fa-1x fa-xmark" (click)="crossMark()"></i></p>

          <h2 id="log-namehd">Login</h2>
          <div class="login-username">
              <input type="email" id="loginname" formControlName="emailvalue"  #usernames placeholder="Email">

          <div *ngIf="loginForm.controls['emailvalue'].dirty" class="alert" >
            <p  *ngIf="loginForm.controls['emailvalue'].errors?.['required']">Email should not be empty</p>
          </div>
          </div>

          <div class="login-password">
              <input type="password" id="loginpassword" formControlName="passwordvalue" #passwords placeholder="Password">
              <div *ngIf="loginForm.controls['passwordvalue'].dirty" class="alert" >
                <p  *ngIf="loginForm.controls['passwordvalue'].errors?.['required']">Password should not be empty</p>
              </div>

          </div>
          <div class="forget-pass">
              <a href="#" id="forgetanchor">Forgot Password?</a> <br>
              <a routerLink="/registration"  id="forgetanchor">New User?</a>
          </div>
          <div class="logbtn">
               <button type="submit" id="btnlog"> <span id="btnlogspn"> Login</span></button>
          </div>
      </form>
  </div>
  <div class="log-grid-2">
      <img src="../../assets/photos/login cartoon 2.jpg" width="435rem" id="logcrtn1" height="300rem" alt="img">
  </div>
</div>
<app-footer></app-footer>
