<app-header></app-header>
<div class="divide">
  <div class="divImg" *ngFor="let productDisplay of productList">
    <img
      src="{{productDisplay.img}}"
      alt=""
    />

  <div class="divContent">
    <h3>{{ productDisplay.shopName }}</h3>
    <p id="divContentRating">
      {{ productDisplay.rating }}<i class="fa-solid fa-star"></i>
    </p>
    <div id="content">
      <span>Address:</span>{{ productDisplay.address1 }}
      <p>{{ productDisplay.address2 }}</p>
      <p>{{ productDisplay.address3 }}</p>
      <p>{{ productDisplay.address4 }}</p>
    </div>

    <p id="phone"><span>Phone Number:</span>{{ productDisplay.phoneno }}</p>
    <button><a routerLink="/scentreDescrip/{{productDisplay.id}}">Explore</a></button>
  </div>
</div>
</div><br><br>

<app-footer></app-footer>
