<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<div class="menu_bar">
  <img src="../../assets/photos/Just.png" alt="img" width="16%" height="70%" id="imge">

  <ul>
      <li> <a [routerLink]="'/home'"><i class="fa-solid fa-mobile-screen-button"></i> Home</a> </li>


      <li> <a href="#" id="highlight">About</a> </li>
      <li> <a href="#">More<i class="fas fa-caret-down"></i></a>
          <div class="dropdown_menu">
              <ul>
                  <li><a [routerLink]="'/newoffers'">New Offers</a></li>
                  <li><a [routerLink]="'/upcoming'">Upcoming </a></li>
                  <li><a [routerLink]="'/contact'"><i class="fa-solid fa-phone"></i> Contact</a></li>
                  <li><a href="#"> Dashboard</a></li>
              </ul>
          </div>
      </li>
      <li> <a [routerLink]="'/login'">Login </a>
  </ul>
</div>
<div class="about-head">
  <h2>Who We Are?</h2>
  <p id="abt-h1">We(JustFix) is a private organization who is here to provide consumers/customers about smartphone
      services details and also infos about upcoming smartphones and suggesting best products(accessories) for
      smartphones.</p>

</div>
<br><br>


<div class="firstDivContent">
  <h2>Our Mission</h2>
  <p>&nbsp; Our mission is to make it easy for you to find the right mobile service center for your device. We understand that your mobile device is an essential part of your daily life, and any downtime can cause significant inconvenience. That's why we are dedicated to providing you with the best recommendations for mobile service centers that offer fast and efficient service, so you can get back to using your device as soon as possible.</p>
 </div><div class="divBanner1"><img src="../../assets/photos/1 Banner.jpg" alt=""></div>
<br><br><br> <br><br>
<div class="secondDivContent">
  <h2>Our Service</h2>
  <p>&nbsp; We also believe in providing exceptional customer service, which is why we are always available to answer any questions you may have. Our team of experts is always ready to provide you with support and guidance, whether you need help finding the right mobile service center or have any other queries.At our mobile service center recommendation system, we value transparency and honesty. We ensure that all our recommendations are based on impartial and unbiased reviews, so you can trust that you are receiving genuine recommendations from our team.</p>
</div>
<div class="thirdDivContent">
  <h2>Our Wish</h2>
  <p>&nbsp; Our mobile service center recommendation system is designed to provide you with the best recommendations for mobile service centers that meet your unique needs. Our team of experts is committed to providing you with exceptional customer service and personalized recommendations based on transparent and honest reviews. Thank you for choosing us as your go-to source for mobile service center recommendations.</p>
 </div> <div class="divBanner1"><img src="../../assets/photos/2 Banner.jpg" alt=""></div>

<div class="about-strong">
  <h2>How Strong We Are?</h2>
  <div class="abt-cont-grid">
      <div class="abt-cont-grid1">
          <p>Service on <br> <span class="count" data-val="100">20</span>+ <br>brands</p>

      </div>
      <div class="abt-cont-grid2">
          <p>Providing<br> <span class="count" data-val="500">200</span>+ <br>Authorized <br>Service Centre</p>
      </div>
      <div class="abt-cont-grid3">
          <p>Suggesting <br> <span class="count" data-val="1000">500</span>+ <br>Mobile Products</p>
      </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <p>hi</p> -->
