
 <router-outlet></router-outlet>
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->
<!-- <p>Mobile Service Management System</p> -->
<!-- <app-About></app-About> -->
<!-- <app-footer></app-footer> -->
<!-- <app-Contact></app-Contact> -->
<!-- <app-SelectBrand></app-SelectBrand> -->
<!-- <app-productdescription></app-productdescription> -->
<!-- <app-PopupDisplay></app-PopupDisplay> -->
<!-- <app-serviceCentreLists></app-serviceCentreLists> -->
<!-- <app-serviceCentreDescription></app-serviceCentreDescription> -->

