<app-header></app-header>
<div class="upcomingProductHeading">
  <h4>UPCOMING MODELS</h4>
  <div class="productContainerMainDiv" *ngFor="let product of products">
    <div class="productContainerDiv1">
      <div class="productContainerDiv1SubDiv1">
        <img src="{{ product.Image }}" alt="Mobile 2" />
      </div>
      <div class="productContainerDiv1SubDiv2">
        <a routerLink="/upcoming/{{ product.Model }}">
          <div class="productContent1">
            <h1>{{ product.Model }}</h1>

            <div>
              <h3>
                {{ product.price }}
                <span id="expectedPrice">(Expected price)</span>
              </h3>
            </div>
            <div class="productContent2">
              <h2>key Specs</h2>
            </div>
            <div class="productContent3">
              <div class="productContentSub1">
                <ul>
                  <li>
                    <p>{{ product.Description1 }}</p>
                  </li>
                  <li>
                    <p>{{ product.Description2 }}</p>
                  </li>
                  <li>
                    <p>{{ product.Description3 }}</p>
                  </li>
                  <li>
                    <p>{{ product.Description4 }}</p>
                  </li>
                </ul>
              </div>
              <div class="productContentSub2">
                <ul>
                  <li>
                    <p>
                      {{ product.Description5 }}
                    </p>
                  </li>
                  <li>
                    <p>{{ product.Description6 }}</p>
                  </li>

                  <li>
                    <p>{{ product.Description7 }}</p>
                  </li>
                  <li>
                    <p>{{ product.Description8 }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> <br><br><br>
<app-footer></app-footer>
