<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
/>
<app-header></app-header>>
<div class="contactUsHeadingDiv">
  <h2 id="reachUs">Reach Us</h2>
</div>
<br /><br />
<div class="whyToContactDiv">
  <p id="contentP1">
    Justfix is here to provide you with more information like best service place
    and quality
  </p>
  <p id="contentP2">for your smartphone and so on for your smartphone.</p>
</div>

<br /><br /><br />
<div class="contentMainGridDiv">
  <div class="contentGridDiv1">
    <h2 id="contentGridH1">Address <i class="fa-solid fa-address-card"></i></h2>
    <p>
      2/33,First floor, <br />
      SOI Complex,<br />
      Pluto street, <br />
      Bangalore,
      <br />
      560001
    </p>
  </div>
  <div class="contentGridDiv2">
    <h2 id="contentGridH2">
      Phone <i class="fa-sharp fa-solid fa-phone-volume"></i>
    </h2>
    <p>+91 8610209535</p>
    <p>+91 94889922628</p>
  </div>
  <div class="contentGridDiv3">
    <h2 id="contentGridH3">Email <i class="fa-solid fa-envelope"></i></h2>
    <p><a href="#"> justfix.co.in</a></p>
  </div>
  <div class="contentGridDiv4">
    <h2 id="contentGridH4">Follow us <i class="fa-solid fa-share-nodes"></i></h2>
    <ul>
      <a href="https://www.facebook.com/profile.php?id=100064552218219"
        ><i class="fa-brands fa-facebook" id="fbid"></i
      ></a>
      <a href="https://twitter.com/GSpenzer">
        <i class="fa-brands fa-twitter" id="twtrid"></i
      ></a>
      <a href="https://www.linkedin.com/in/ganesh-m-57b3a9193/">
        <i class="fa-brands fa-linkedin-in" id="linkdinid"></i
      ></a>
      <a href="https://www.instagram.com/ign__viper/">
        <i class="fa-brands fa-instagram" id="instaid"></i
      ></a>
    </ul>
  </div>
</div>
<br /><br /><br /><br /><br />
<div class="contentBottomMainGrid">
  <div class="contentBottomGridDiv1">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.5566268057632!2d80.26280097341836!3d13.063869812851964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52661758fba06b%3A0x7248d33eb654fec9!2sJUST%20FIX%20IT%20INDIA!5e0!3m2!1sen!2sin!4v1689333239708!5m2!1sen!2sin"
      width="600"
      height="350"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="contentBottomGridDiv2">
    <h4 id="contentH4">Talk with Us</h4>

    <br /><br />

    <div class="commentContentForm">
      <div class="commentContentGrid">
        <div class="commentContentEmailDiv">
          <input
            type="email"


            placeholder="Email"
          />
        </div>
        <div class="commentContentPhoneDiv">
          <input
            type="tel"

            name="phno"
            placeholder="Phone number"
          />
        </div>

        <div class="commentContentAreaDiv">
          <textarea
            placeholder="Comments..."
            rows="5"
          ></textarea>
        </div>
      </div>
      <button
        type="submit"
        name="SaveChanges"
        id="conSaveChanges"
        value="Submit"
        class="conbtn"
      >
        <span id="contentButtonSpan"> Send to us</span>
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
