* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#reachUs {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1rem;
}

.contactUsHedingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-head::after {
  content: "";
  position: absolute;
  border: solid powderblue;
  min-width: 11rem;
  transform: translateY(1.6rem);
}
#contentP1,
#contentP2 {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-align: center;
}
.whyToContactDiv {
  background-color: powderblue;
  height: 6rem;
}
#contentP1 {
  padding-top: 1rem;
}
.contentMainGridDiv {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-bottom: 1.5px solid rgb(124, 203, 213);
  padding-bottom: 3rem;
}
.contentGridDiv1 p {
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}
.contentGridDiv2 p {
  padding-top: 35px;
  text-align: center;

  font-size: 17px;
}
.contentGridDiv3 p a {
  font-size: 18px;
  text-decoration: none;
  color: green;
  text-align: center;
}
.contentGridDiv3 p {
  text-align: center;
}
.contentGridDiv3 p {
  padding-top: 30px;
}
.contentGridDiv4 p {
  padding-top: 5px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 27px;
}
#contentGridH1,
#contentGridH2,
#contentGridH3,
#contentGridH4 {
  text-align: center;
  color: black;

  font-weight: 500;
  background-color: powderblue;

  border-radius: 2rem 2rem 0 0;
}

.contentGridDiv1,
.contentGridDiv2,
.contentGridDiv3,
.contentGridDiv4 {
  width: 15rem;
  height: 10rem;
  border: 2px solid rgb(19, 209, 234);
  border-radius: 2rem;
  margin-left: 2rem;
}

#fbid {
  margin-top: 2rem;
  padding-left: 3.2rem;
  font-size: 25px;
}
#twtrid,
#linkdinid,
#instaid {
  padding: 0px 8px;
  font-size: 25px;
}

.contentBottomMainGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}

input {
  padding: 2px;
}

.commentContentForm {
  margin-left: 2rem;
}
.commentContentEmailDiv,
.commentContentPhoneDiv,
.commentContentAreaDiv {
  padding: 1rem 0px;
}
.contentGridDiv2:hover {
  transform: scale(1.1);
  z-index: 1;
}
.contentGridDiv1:hover {
  transform: scale(1.1);
  z-index: 1;
}
.contentGridDiv3:hover {
  transform: scale(1.1);
  z-index: 1;
}
.contentGridDiv4:hover {
  transform: scale(1.1);
  z-index: 1;
}
#confeedback {
  padding-right: 6rem;
}
.contentBottomGridDiv2 {
  width: 65%;
  height: 21.5rem;
  border-radius: 2rem;
  padding-left: 1rem;
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.75);
}
#contentH4 {
  margin-top: 1rem;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}

#contentButtonSpan {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: aqua;
}
button {
  background-color: green;
  border-radius: 1.5rem;
  padding: 2px 5px;
  box-shadow: none;
  border: none;
}
.dropdown_menu {
  z-index: 1;
  border-radius: 1rem;
}
#highlight {
  color: black;
  background-color: white;
}

textarea {
  width: 20rem;
}
