<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<div class="footer">
  <div class="footerDiv1">
  <p>Connect With Us</p>

  <ul>
      <li><a href="https://www.facebook.com/profile.php?id=100064552218219"><i class="fa-brands fa-facebook" ><span id="social-media-footer">
                      Facebook</span></i></a></li>
      <li><a href="https://twitter.com/GSpenzer"> <i class="fa-brands fa-twitter" > <span
                      id="social-media-footer"> twitter</span></i></a></li>
      <li><a href="https://www.linkedin.com/in/ganesh-m-57b3a9193/"> <i class="fa-brands fa-linkedin-in"
                  > <span id="social-media-footer"> LinkedIn</span></i></a> </li>
      <li><a href="https://www.instagram.com/ign__viper/"> <i class="fa-brands fa-instagram" >
                  <span id="social-media-footer"> Instagram</span></i></a></li>
  </ul>
</div>
<div class="footerDiv2">
  <p>More</p>
  <ul>
      <li><a [routerLink]="'/newoffers'">New Offers</a></li>
      <li><a [routerLink]="'/upcoming'">Upcoming </a></li>
      <li><a [routerLink]="'/contact'">Contact</a></li>

  </ul>

</div>
<div class="footerDiv3">
  <p>Service</p>
  <ul>
    <li id="logoFix"><a href="" ><i class="fa-sharp fa-solid fa-mobile"  ></i>  Know Upcoming Mobiles</a></li>
    <li ><a href=""><i class="fa-sharp fa-solid fa-cart-plus"></i> Know Popular Deals</a></li>
    <li><a routerLink="/partner"><i class="fa-solid fa-handshake-simple"></i> Partner With Us</a></li>
</ul>


</div>
<div class="footerDiv4">
  <p>Support</p>
  <ul>
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">Terms & Conditions</a></li>
    <li><a href="">FAQ</a></li>
</ul>

</div>
</div>

