.footer
{display: grid;
  grid-template-columns: 25% 25% 25% 25%;

background-color: powderblue;
}
.footerDiv1 ul li,.footerDiv2 ul li,.footerDiv3 ul li,.footerDiv4 ul li {
  text-decoration: none;
  list-style: none;
  padding-top: 0.3rem;
}
.footerDiv1 ul li a,.footerDiv2 ul  li a,.footerDiv3 ul  li a,.footerDiv4 ul  li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.9rem;
  text-align: left;

font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerDiv1 p,.footerDiv2 p,.footerDiv3 p,.footerDiv4 p{
  padding-top: 2rem;
  font-size: 1.5rem;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding-left: 3rem;
}
 #social-media-footer{
  font-style: normal;
  color:rgb(0, 0, 0);
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .footerDiv1 ul, .footerDiv2 ul, .footerDiv3 ul, .footerDiv4 ul{
    padding-top: 0.3rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
    }
    .footerDiv1 ul li, .footerDiv2 ul li, .footerDiv3 ul li, .footerDiv4 ul li{
      padding-top: 5px;
    }
#logoFix{
  padding-left: 5px;
}
