* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.productModelNameDiv h1 {
  font-family: Trebuchet MS;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

.RatingMainDiv {
  display: grid;
  grid-template-columns: 10% 90%;
}
.ratingDiv2 {
  margin-left: 1rem;
  display: grid;
  grid-template-rows: 50% 50%;
}

#ratingDiv1H1 {
  background-color: rgb(22, 170, 22);
  color: white;
  width: 6.4rem;
  height: 5.4rem;
  padding-top: 1px;
  padding-left: 5px;
  border-radius: 0.2rem;
  font-size: 5rem;
  float: right;
  transform: translateX(-rem);
}

#ratingDiv2P1 {
  font-size: 1.5rem;
  font-family: Trebuchet MS;
  font-weight: 200;
}
.ratingDiv2SubDiv2 {
  transform: translateY(-1.1rem);
}
.ratingDiv2SubDiv2 p,
.ratingDiv2SubDiv1 p {
  font-family: Trebuchet MS;
}
#groupRank {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(239, 56, 56);
}
.specificationContentMainDiv {
  margin-left: 1rem;
}
#contentHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: powderblue;
  border-radius: 1.1rem 1.1rem 0 0;
  padding-left: 1rem;

  font-size: 1.4rem;
  font-weight: 400;
  color: black;
}
.contentDiv p {
  margin-top: 0.3rem;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  line-height: 1.5rem;
}
.contentDiv {
  padding-bottom: 12px;

  border-radius: 1.3rem;
  border: 2px solid rgb(136, 200, 208);
}
.specificationHeading {
  margin-left: 1rem;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.9rem;
  font-weight: 100;
}

#descriptionHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 1.9rem;
  font-weight: 800;
}
#descriptionPara {
  padding-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  line-height: 1.5rem;
}

.ProductDescription {
  margin-left: 1rem;
  display: none;
}

.imageMainSlider {
  display: grid;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.imgSlider {
  height: 22rem;
  width: 17rem;
  padding: 0 0.5rem;

  margin: 2rem 3rem;
  border: 1px solid red;
  border-radius: 5px;
}
.imgSlider img:hover {
  transform: scaleY(1.1);
}
.imgSlider img {
  margin-top: 7%;
  height: 90%;
  width: 100%;
  object-fit: contain;
}
