<app-header></app-header>
<div class="productModelNameDiv">
  <h1>{{finalProduct.Model}}</h1>
</div>
<div class="imageMainSlider">
  <div class="imgSlider">
    <img src="{{finalProduct.gridimage1}}" alt="">
  </div>
  <div class="imgSlider">
    <img src="{{finalProduct.gridimage2}}" alt="">
  </div>
  <div class="imgSlider">
    <img src="{{finalProduct.gridimage3}}" width="400%" alt="">
  </div>
</div>

<br><br>
<div class="RatingMainDiv">
  <div class="ratingDiv1">
      <h2 id="ratingDiv1H1">{{finalProduct.rating}}</h2>
  </div>
  <div class="ratingDiv2">
      <p id="ratingDiv2P1"> SPECS SCORE</p>
      <div class="ratingDiv2SubDiv1">
          <p>Group rank <span id="groupRank">{{finalProduct.groupRank1}}</span>{{finalProduct.groupRank2}} </p>
      </div>
      <div class="ratingDiv2SubDiv2">
          <p>Overall rank <span id="groupRank">{{finalProduct.overallRank1}}</span>{{finalProduct.overallRank2}}</p>
      </div>
  </div>
</div>
<br><br>
<div class="specificationHeading">Full Specs</div> <br>
<div class="specificationContentMainDiv">
  <div class="contentDiv">
      <h4 id="contentHeading">General</h4>
      <p>{{finalProduct.General1}}</p>
      <p>{{finalProduct.General2}}</p>
      <p>{{finalProduct.General3}}</p>
      <p>{{finalProduct.General4}}</p>
  </div>
  <br>
  <div class="contentDiv">
      <h4 id="contentHeading">Display</h4>
      <p>{{finalProduct.Display1}}</p>
      <p>{{finalProduct.Display2}}</p>
      <p>{{finalProduct.Display3}}</p>
      <p>{{finalProduct.Display4}}</p>
      <p>{{finalProduct.Display5}}</p>
      <p>{{finalProduct.Display6}}</p>
      <p>{{finalProduct.Display7}}</p>


    </div>
  <br>
  <div class="contentDiv">
      <h4 id="contentHeading">Camera</h4>
      <p>{{finalProduct.Camera1}}</p>
      <p>{{finalProduct.Camera2}}</p>
      <p>{{finalProduct.Camera3}}</p>
      <p>{{finalProduct.Camera4}}</p>
  </div>
  <br>
  <div class="contentDiv">
      <h4 id="contentHeading">Technical</h4>
      <p>{{finalProduct.Technical1}}</p>
      <p>{{finalProduct.Technical2}}</p>
      <p>{{finalProduct.Technical3}}</p>
      <p>{{finalProduct.Technical4}}</p>
      <p>{{finalProduct.Technical5}}</p>
      <p>{{finalProduct.Technical6}}</p>
  </div>
  <br>
  <div class="contentDiv">
      <h4 id="contentHeading">Connectivity</h4>
      <p>{{finalProduct.Connectivity1}}</p>
      <p>{{finalProduct.Connectivity2}}</p>
      <p>{{finalProduct.Connectivity3}}</p>
      <p>{{finalProduct.Connectivity4}}</p>
  </div>
  <br>
  <div class="contentDiv">
      <h4 id="contentHeading">Battery</h4>
      <p>{{finalProduct.Battery1}}</p>
      <p>{{finalProduct.Battery2}}</p>
      <p>{{finalProduct.Battery3}}</p>
      <p>{{finalProduct.Battery4}}</p>
  </div>
  <br>
  <div class="contentDiv">
      <h4 id="contentHeading">Extra</h4>
     <p>{{finalProduct.Extra1}}</p>
     <p>{{finalProduct.Extra2}}</p>
     <p>{{finalProduct.Extra3}}</p>
  </div>

</div>
<br>
<div class="ProductDescription">
  <h4 id="descriptionHeading">{{finalProduct.bottomHD1}}</h4>
  <p id="descriptionPara">{{finalProduct.bottomP1}}
  </p>
</div>
<br>
<div class="ProductDescription">
  <h4 id="descriptionHeading">{{finalProduct.bottomHD2}}</h4>
  <p id="descriptionPara">{{finalProduct.bottomP2}}</p>
</div>
<app-footer></app-footer>




