<div class="menu_bar">
  <img src="../../assets/photos/Just.png" alt="img" width="16%" height="70%" id="imge">
  <!-- <div class="locationDiv">
    <a [routerLink]="'/popup'"><p><i class="fa-solid fa-location-dot"></i> Select Your Location</p></a>
  </div> -->

  <ul>
      <li> <a routerLink="/home" routerLinkActive="active" id="highlight"><i class="fa-solid fa-mobile-screen-button"></i> Home</a> </li>
      <li> <a [routerLink]="'/about'"  routerLinkActive="active" >About</a> </li>
      <li> <a [routerLink]="'/popup'"  routerLinkActive="active" >Service</a> </li>


      <li> <a href="#">More<i class="fas fa-caret-down"></i></a>


          <div class="dropdown_menu">
              <ul>
                  <li><a [routerLink]="'/newoffers'">New Offers</a></li>
                  <li><a [routerLink]="'/upcoming'">Upcoming </a></li>
                  <li><a  [routerLink]="'/contact'"><i class="fa-solid fa-phone"></i> Contact</a></li>
              </ul>
          </div>
      </li>
      <li> <a (click)="guardservice.login()" *ngIf="!userloginsuccess" [routerLink]="'/login'">Login </a></li>
      <li> <a (click)="logout()" *ngIf="userloginsuccess" [routerLink]="'/login'" id="logoutt">Logout </a></li>
  </ul>

</div>

