<app-header></app-header>
<p id="selectBrand">Select Brand</p>
<br /><br /><br /><br /><br /><br /><br />

<div class="overallDisplay">
  <div class="brandRow1">
    <div class="brandDiv">
      <a [routerLink]="'/scentreList'"
        ><img
          src="../../assets/photos/Apple.jpg"
          (click)="selectBrand('apple')"
          height="20%"
          width="20%"
          alt="jpg"
          class="brandImg"
        />
      </a>
    </div>
  </div>
  <div class="brandRow1">
    <div class="brandDiv">
      <a [routerLink]="'/scentreList'"
        ><img
          src="../../assets/photos/Samsung-logo.jpg"
          (click)="selectBrand('samsung')"
          height="20%"
          width="20%"
          alt="jpg"
          class="brandImg"
        />
      </a>
    </div>
  </div>

  <div class="overallDisplay">
    <div class="brandRow1">
      <div class="brandDiv">
        <a [routerLink]="'/scentreList'"
          ><img
            src="../../assets/photos/oneplus-logo.jpg"
            (click)="selectBrand('oneplus')"
            height="20%"
            width="20%"
            alt="jpg"
            class="brandImg"
          />
        </a>
      </div>
    </div>
  </div>
</div> <br><br><br>
<app-footer></app-footer>
