<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<div class="menu_bar">
  <img src="../../assets/photos/Just.png" alt="img" width="16%" height="70%" id="imge">

  <ul>
      <li> <a [routerLink]="'/home'" id="highlight"><i class="fa-solid fa-mobile-screen-button"></i> Home</a> </li>
      <li> <a [routerLink]="'/about'">About</a> </li>
      <li> <a href="#">More<i class="fas fa-caret-down"></i></a>

          <div class="dropdown_menu">
              <ul>
                  <li><a href="#">New Offers</a></li>
                  <li><a [routerLink]="'/upcoming'">Upcoming </a></li>
                  <li><a href="#"><i class="fa-solid fa-phone"></i> Contact</a></li>
                  <li><a href="#"> Dashboard</a></li>
              </ul>
          </div>
      </li>
      <li> <a [routerLink]="'/login'">Login </a>
  </ul>

</div>
<div class="contact-us-head">
  <h2 id="reachus">Reach Us</h2>
</div><br><br>
<div class="why-to-contact">
  <p id="conp1">Justfix is here to provide you with more information like best service place and quality </p>
  <p id="conp2">for your smartphone and so on for your smartphone.
</div>
<br><br><br>
<div class="con-main-grid">
  <div class="con-main-grid1">
      <h2 id="congridh1">Address <i class="fa-solid fa-address-card"></i></h2>
      <p>2/33,First floor, <br>
          SOI Complex,<br>
          Pluto street, <br>
          Bangalore,
          <br>
          560001
      </p>
  </div>
  <div class="con-main-grid2">
      <h2 id="congridh2">Phone <i class="fa-sharp fa-solid fa-phone-volume"></i></h2>
      <p>+91 8610209535</p>
      <p>+91 9489922628</p>
  </div>
  <div class="con-main-grid3">
      <h2 id="congridh3">Email <i class="fa-solid fa-envelope"></i></h2>
      <p> <a href="#"> justfix.co.in</a></p>
  </div>
  <div class="con-main-grid4">
      <h2 id="congridh4">Follow us <i class="fa-solid fa-share-nodes"></i></h2>
      <ul>
          <a href="https://www.facebook.com/profile.php?id=100064552218219"><i class="fa-brands fa-facebook"
                  id="fbid"></i></a>
          <a href="https://twitter.com/GSpenzer"> <i class="fa-brands fa-twitter" id="twtrid"></i></a>
          <a href="https://www.linkedin.com/in/ganesh-m-57b3a9193/"> <i class="fa-brands fa-linkedin-in"
                  id="linkdinid"></i></a>
          <a href="https://www.instagram.com/ign__viper/"> <i class="fa-brands fa-instagram" id="instaid"></i></a>
      </ul>

  </div>

</div>\
<br><br><br><br><br>
<div class="conmain-cnt-grid">

  <div class="conmaingrid2">
      <img src="../../assets/photos/random map.png" id="conmaingridim" height="350rem" width="390rem" alt="img">
  </div>
  <div class="conqns-cmnts">
      <h4 id="conh41">Talk with Us</h4>

      <br><br>

      <div class="concmntform">
          <div class="concmntgrid">


              <div class="concmntemail">
                  <input type="email" id="concmnteml" class="form_actcntrl" name="cmnteml" placeholder="Email">
              </div>
              <div class="concmntphn">
                  <input type="tel" id="conphno" class="form_actcntrl" name="phno" placeholder="Phone number">
              </div>



              <div class="concmnttarea">
                  <textarea id="confeedback" name="feedback" class="form_actcntrl" placeholder="Comments..."
                      rows="5"></textarea>

              </div>
          </div>
          <button type="submit" name="SaveChanges" id="conSaveChanges" value="Submit" class="conbtn"> <span
                  id="conbtnid"> Send
                  to us</span></button>
      </div>
  </div>
