<app-header></app-header> <br /><br /><br />

<div class="headLineDiv">
  <p id="headLineP1">In Metro City or In Suburb.We've Got You Covered!</p>
  <p id="headLineP2">Broken Screen | Water Damage | Diagonistic Services</p>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="middleMainDiv">
  <div class="middleDiv1">
    <h3>
      "I use technology for communication, but I don't have a Blackberry or an
      iPhone. I use an outdated cell phone, but I'm fine with it.I take care of
      it."
    </h3>
  </div>
  <div class="middleDiv2">
    <img
      src="../../assets/photos/First Png for repair.png"
      id="fixToonId"
      height="400rem"
      alt="img"
    />
  </div>
</div>

<div class="howItWorksHeadingDiv">
  <h3>HOW IT WORKS</h3>
</div>
<div class="howItWorksDiv">
  <div class="howItWorksContentDiv1">
    <div class="howItWorksDivLogo">
      <img src="../../assets/photos/work3.png" id="work1" alt="img" />
    </div>
    <h3>SEARCH REPAIR SERVICE</h3>
    <p>
      Select your device and get for the available service centres info based on
      your location
    </p>
  </div>
  <div class="howItWorksContentDiv2">
    <div class="howItWorksDivLogo">
      <img src="../../assets/photos/work1.png" id="work2" alt="img" />
    </div>
    <h3>TRUSTED CENTRES</h3>
    <p>
      The centers we are providing are based on your location and those service
      centres are either authorized/trusted centres
    </p>
  </div>
  <div class="howItWorksContentDiv3">
    <div class="howItWorksDivLogo">
      <img src="../../assets/photos/work4.png" id="work3" alt="img" />
    </div>
    <h3>OFFER DETAILS</h3>

    <p>
      We are suggesting you the products which are available in the online
      stores like flipkart,amazon and so on in offer price
    </p>
  </div>
</div>
<br /><br />
<div class="landscapeBanner">
  <img src="../../assets/photos/Fullsize Landscape Repair Pic.jpg" alt="jpg" />
</div>
<div class="whyUsDiv">
  <h2>Why Us?</h2>
  <br />
  <br />
  <br />
  <br />
  <br />
  <p>
    &nbsp; We are one of the upcoming website working on for Customer
    convenient.We are here to show the infos to the customers regarding the
    details of the authorized/trusted service centres.Also we are providing
    latest upcoming mobile details and also much more realted to mobiles.Also we
    are providing the infos related to mobile accessories.Stay with us and help
    us to reach out more.
  </p>
</div>
<br /><br />
<div class="underlineDiv">
  <h2 id="customerHeading">Our Customers</h2>
</div>
<div class="customerContentMainDiv">
  <div class="customerContentDiv1">
    <h5>Screen Repair</h5>
    <p>
      Thank you so much for repairing my broken (iphone XR).Pretty Good
      website.I reffered it to my friends
    </p>
    <p id="customer1">
      -John Emanuel <br /><span id="customerSpan1">(Mumbai)</span>
    </p>
  </div>
  <div class="customerContentDiv2">
    <h5>Best Service Centre</h5>
    <p>
      Recently I just surfered around internet for best centre near me.By this
      website I found the good one
    </p>
    <p id="customer2">
      -Rajesh Adwani <br /><span id="customerSpan2">(Bangalore)</span>
    </p>
  </div>
  <div class="customerContentDiv3">
    <h5>Product Purchase</h5>

    <p>
      I got my new adapter(OTG)cable for my Asus Rog 2 from authorized dealer.It
      works completely fine
    </p>
    <p id="customer3">
      -Vetri Maran <br /><span id="customerSpan3">(Chennai)</span>
    </p>
  </div>
</div>
<br /><br />
<br />
<br />
<h2 id="reachUsHeading">Reach Us</h2>
<div class="bottomContentMainGridDiv">
  <div class="bottomContentGridDiv1">
    <h4 id="bottomContentGridDiv1H1">Have a Question?</h4>
    <h4 id="bottomContentGridDiv1H2">Feel Free To Ask Us</h4>
    <br /><br />

    <div class="bottomContentGridDiv1Form">
      <div class="bottomContentFormMainGrid">
        <div class="bottomContentFormGrid1">
          <div class="bottomContentFormFirstName">
            <input type="text" placeholder="First Name" />
          </div>
          <div class="bottomContentFormPhone">
            <input type="tel" id="phno" placeholder="Phone number" />
          </div>
        </div>
        <div class="bottomContentFormGrid2">
          <div class="bottomContentFormLastName">
            <input type="text" placeholder="Last Name" />
          </div>
          <div class="bottomContentFormEmail">
            <input type="email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="bottomContentFormCommentArea">
        <textarea id="feedback" placeholder="Comments..." rows="5"></textarea>
      </div>
    </div>
    <button type="submit" value="Submit">
      <span id="bottomContentFormButtonSpan"> Send to us</span>
    </button>
  </div>
  <div class="bottomContentGridDiv2">
    <img
      src="../../assets/photos/writing cmnts.png"
      id="bottomContentGridDiv2Image"
      height="320rem"
      width="350rem"
      alt="img"
    />
  </div>
</div>
<br />
<app-footer></app-footer>
