
<app-header></app-header>


<br><br><br>

<div class="searchDiv">
  <!-- <form action="">
      <div class="inputValue">
           label for="searchInput" id="inputSearch">Select your Cities</label>
         <select name="" id="searchInput">
          <option value="searchInput">Select your Cities</option>
          <option value="Chennai">Chennai</option>
          <option value="Salem">Salem</option>
         </select>
           <label for="searchInput" id="searchInput">Select Your Cities</label>
          <select class="classic" id="searchInput">
              <option value="searchInput">Select Your City</option>
              <option value="Chennai">Chennai</option>
              <option value="Salem">Salem</option>
              <option value="Namakkal">Namakkal</option>
              <option value="Trichy">Trichy</option>
              <option value="Coimbatore">Coimbatore</option>
              <option value="Madurai">Madurai</option>
              <option value="Nagercoil">Nagercoil</option>
              <option value="Cuddalore">Cuddalore</option>
              <option value="Erode">Erode</option>
              <option value="Tiruppur">Tiruppur</option>
          </select>

          <button id="goButton" onclick="visitBrand()">Go</button>
      </div>
  </form> -->


  <div class="headline">
      <p id="para2">In Metro City or In Suburb.We've Got You Covered!</p>
      <p id="para3">Broken Screen | Water Damage | Diagonistic Services</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="middle">
      <div class="middle1">
          <h3>"I use technology for communication, but I don't have a Blackberry or an iPhone. I use an outdated
              cell
              phone, but I'm fine with it.I take care of it."
          </h3>
      </div>
      <div class="middle2">
          <img src="../../assets/photos/First Png for repair.png" id="fixtoon"  height="400rem" alt="img">
      </div>

  </div>

  <div class="how_works_heading">
      <h3>HOW IT WORKS</h3>
  </div>
  <div class="how_itworks">

      <div class="workcnt1">
          <div class="roundLogo">
              <img src="../../assets/photos/work3.png" id="work1" alt="img">

          </div>
          <h3>SEARCH REPAIR SERVICE</h3>
          <p>Select your device and get for the available service centres info based on your location</p>
      </div>
      <div class="workcnt2">
          <div class="roundLogo">
              <img src="../../assets/photos/work1.png" id="work2" alt="img">

          </div>
          <h3>TRUSTED CENTRES</h3>
          <p>The centers we are providing are based on your location and those service centres are either
              authorized/trusted centres </p>
      </div>
      <div class="workcnt3">
          <div class="roundLogo">
              <img src="../../assets/photos/work4.png" id="work3" alt="img">

          </div>
          <h3>OUR PRODUCTS INFO</h3>

          <p>The products which we are showing based on your devices are with certified quality.Those porducts are
              either from centres or from trusted websites. </p>
      </div>
  </div>
  <br><br>
  <div class="bigPicture">
      <img src="../../assets/photos/Fullsize Landscape Repair Pic.jpg" alt="jpg" >
  </div>
  <div class="why_us">
      <h2>Why Us?</h2> <br> <br> <br> <br> <br>
      <p> &nbsp; We are one of the upcoming website working on for Customer convenient.We are here to show the infos to
          the
          customers regarding the details of the authorized/trusted service centres.Also we are providing latest
          upcoming mobile details and also much more realted to mobiles.Also we are providing the infos related to
          mobile accessories.Stay with us and help us to reach out more. </p>
  </div>
  <br><br>
  <div class="underline">
      <h2 id="cushd"> Our Customers</h2>
  </div>
  <div class="our_customers">
      <div class="custcont1">

          <h5>Screen Repair</h5>
          <p>Thank you so much for repairing my broken (iphone XR).Pretty Good website.I reffered it to my friends
          </p>
          <p id="cus1">-John Emanuel <br><span id="cusspn1">(Mumbai)</span>
          </p>
      </div>
      <div class="custcont2">

          <h5>Location Repair</h5>
          <p>Recently I just surfered around internet for best centre near me.By this website I found the good one
          </p>
          <p id="cus2">-Rajesh Adwani <br><span id="cusspn2">(Bangalore)</span>
          </p>
      </div>
      <div class="custcont3">

          <h5>Product Purchase</h5>

          <p>I got my new adapter(OTG)cable for my Asus Rog 2 from authorized dealer.It works completely fine</p>
          <p id="cus3">-Vetri Maran <br><span id="cusspn3">(Chennai)</span>
          </p>
      </div>
  </div>
  <br><br> <br> <br>
  <h2 id="rchhd">Reach Us</h2>
  <div class="main-cnt-grid">
      <div class="qns-cmnts">
          <h4 id="h41">Have a Question?</h4>
          <h4 id="h42">Feel Free To Ask Us</h4>
          <br><br>

          <div class="cmntform">
              <div class="cmntgrid">
                  <div class="cmntgrid1">

                      <div class="cmntfname">
                          <input type="text" id="fname" class="form_actcntrl" name="fname"
                              placeholder="First Name">
                      </div>
                      <div class="cmntphn">
                          <input type="tel" id="phno" class="form_actcntrl" name="phno"
                              placeholder="Phone number">
                      </div>
                  </div>
                  <div class="cmntgrid2">
                      <div class="cmntlname">
                          <input type="text" id="lname" class="form_actcntrl" name="lname"
                              placeholder="Last Name">
                      </div>
                      <div class="cmntemail">
                          <input type="email" id="cmnteml" class="form_actcntrl" name="cmnteml"
                              placeholder="Email">
                      </div>
                  </div>
              </div>
              <div class="cmnttarea">
                  <textarea id="feedback" name="feedback" class="form_actcntrl" placeholder="Comments..."
                      rows="5"></textarea>

              </div>
          </div>
          <button type="submit" name="SaveChanges" id="SaveChanges" value="Submit" class="btn"> <span id="btnid">
                  Send
                  to us</span></button>
      </div>
      <div class="maingrid2">
          <img src="../../assets/photos/writing cmnts.png" id="maingridim" height="320rem" width="350rem" alt="img">
      </div>
  </div> <br>
<app-footer></app-footer>

