<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
/>
<app-header></app-header>
<div class="popContainer" *ngIf="popup">
  <i class="fas fa-times" (click)="closePopUp()"></i>
  <div class="popImg">
    <img src="../../assets/photos/flipkart big bilion days.png" alt="img" />
  </div>
</div>
<div class="headlineDiv">
  <p id="paraId1">
    We got you popular deals/offers of mobile phones on various online store
  </p>
  <p id="paraId2">| Amazon | Flipkart | Croma |</p>
</div>
<div class="amazonDealsHdDiv">
  <h1>
    Amazon Deals
    <span
      id="amazonDealsHdLine"
      >--------------------------------------------------------------------------------------------------------------------------------------------------</span
    >
  </h1>
</div>

<div class="top1Banner">
  <div class="innertopDiv">
    <a href=""><img src="../../assets/photos/Oneplus Main Banner.jpg" alt="" /></a>
  </div>
</div>
<div class="topOftheWeekDiv">
  <img src="../../assets/photos/Top Deals of the Week BAnner.jpg" alt="" />
</div>
<div class="phoneDisplay">
  <div class="phoneDisplayItem" *ngFor="let deal of allDeals">
    <a href="{{ deal.amazonlinkvalue }}"
      ><img src="{{ deal.amazonimagevalue }}" alt=""
    /></a>
  </div>
</div>
<div class="flipkartDealsHdDiv">
  <h1>
    Flipkart Deals
    <span
      id="flipkartDealsHdLine"
      >--------------------------------------------------------------------------------------------------------------------------------------------------</span
    >
  </h1>
</div>
<div class="flipkartImgDiv1">
  <a href=""> <img src="../../assets/photos/Flipkart Banner.png" alt="" /></a>
</div>
<div class="flipkartImgDiv2">
  <a href=""><img src="../../assets/photos/Deal of the week flipkart.png" alt="" /></a>
</div>
<div class="flipkartItemDisplay">
  <div class="flipkartItemMain" *ngFor="let fdeals of allflipkartDeals">
    <a href="{{ fdeals.Contentlink }}">
      <div class="flipkartItemSub1">
        <img src="{{ fdeals.flipkartImg }}" alt="" />
        <div class="flipkartItemSub2">
          <p>{{ fdeals.Contentp }}</p>
          <h2>
            RS.{{ fdeals.Contenthd }}
            <span id="innerFlipkartOfferSpan"> {{ fdeals.Contentspan }}</span>
          </h2>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="cromaDealsHdDiv">
  <h1>
    Croma Deals
    <span
      id="cromaDealsHdLine"
      >-----------------------------------------------------------------------------------------------------------------------------------------------------</span
    >
  </h1>
</div>
<div class="cromaImgDiv">
  <a href=""> <img src="../../assets/photos/Croma BAnner.png" alt="" /></a>
</div>
<div class="cromaMainDiv">
  <div class="cromadivDeals" *ngFor="let cdeal of allcromaDeals">
    <a href="{{ cdeal.cromalink }}">
      <img src="{{ cdeal.cromaImg }}" alt="" />
    </a>
  </div>
</div>
<app-footer></app-footer>
